<nav>
      <div>
        <h1><a href="#">Freelancedev</a></h1>
        <ul>
          <li><a href="#">Trouvez un Freelance</a></li>
          <li><a href="#">Comment ca marche ?</a></li>
          <li><a href="#">Contact </a></li>
        </ul>
      </div>

      <div>
        <a href=""><em>Thomas Léoty</em></a>
        <a href="#"><img src="https://t4.ftcdn.net/jpg/01/05/85/01/240_F_105850125_e7RJijDY8fh03wHVxBh3IQtg8j2pT5ly.jpg" ></a>
      </div>
      

  </nav>



<!--
<div class="avatar">
<%= image_tag("avatar.png") %>
</div>

-->

<br>
<br>


<div class="align" >


<div class="card">
	<%= image_tag("avatar.png")%>
  <div class="container">
    <h4><b>Thomas Leoty</b></h4> 
    <p>Growth Hacker</p> 
    <button type="button" id="button1">Voir le Profil !</button>

  </div>
</div>



<div class="card">
	<%= image_tag("avatar.png")%>
  <div class="container">
    <h4><b>Thomas Leoty</b></h4> 
    <p>Growth Hacker</p> 
    <button type="button" id="button1">Voir le Profil !</button>

  </div>
</div>

<div class="card">
	<%= image_tag("avatar.png")%>
  <div class="container">
    <h4><b>Thomas Leoty</b></h4> 
    <p>Growth Hacker</p> 
    <button type="button" id="button1">Voir le Profil !</button>

  </div>
</div>


</div>

<h2> </h2>

<div id="tabs">

  <input type="radio" name="tabs" id="toggle-tab1" checked="checked" />
  <label for="toggle-tab1">Montant de la commission
</label>

  <input type="radio" name="tabs" id="toggle-tab2" />
  <label for="toggle-tab2">Pourquoi c ?</label>

  <input type="radio" name="tabs" id="toggle-tab3" />
  <label for="toggle-tab3">Pourquoi créer mon compte</label>




  <div id="tab1" class="tab">
 Une commission est prélevée sur le montant perçu par le freelance pour rémunérer ses missions, comme si nous étions un agent de freelance. 

Cette commission de 10 % HT permet au freelance de trouver de nouveaux clients, de se mettre en valeur et de sécuriser sa relation.

Les freelances intègrent cette commission dans leur facturation à la journée.
  </div>

  <div id="tab2" class="tab">
  Notre moteur de recherche met en avant les profils les plus pertinents en fonction de votre recherche. 
Les critères qui vont être privilégiés sont bien sûr :

les filtres de recherche si vous les utilisez (disponibilité, tarif etc.)
la pertinence par rapport aux mots clés que vous avez indiqués
la zone géographique (si elle est précisée)
Ensuite interviennent une autre série de facteurs de type "bonus/malus" pour classer les profils.

Les critères qui entrent en compte sont entre autres les recommandations et commentaires d'autres utilisateurs, l'évaluation laissée au freelance par ses anciens clients Malt, le taux et le temps de réponse du freelance. Nous positionnons aussi dans les résultats de recherche quelques profils de nouveaux inscrits sur la plateforme (qui correspondent bien sur à votre recherche) afin de donner une chance aux nouveaux d'être visibles!


  </div>

  <div id="tab3" class="tab">
 Pour pouvoir entrer en contact avec les freelances nous vous demandons quelques informations de base qui nous permettrons de vous identifier lors de vos prochaines visites et de vous envoyer des notifications lorsque vous recevrez des réponses ou des devis de freelances.

Les informations de base sont vos nom et prénom, votre adresse mail, votre numéro de téléphone, et bien sûr un mot de passe pour pouvoir assurer la confidentialité des échanges que vous aurez avec les freelances. 

Ensuite lorsque vous travaillerez avec les freelances nous vous demanderons d'autres informations plus professionnelles (SIRET, n° de TVA etc.) pour nous permettre d'établir des factures pour vos missions, ou pour procéder à vos remboursements éventuels (IBAN).
  </div>

 

</div>